@model IEnumerable<PayrollSystem.Models.Domain.Department>

<h2>Department List</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-warning" role="alert">
        @TempData["Message"]
    </div>
}

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var department in Model)
    {
        <tr>
            <td>@department.Name</td>
                <td>@department.Description</td>
            <td>
                    <a asp-action="Edit" asp-route-id="@department.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@department.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Add New Department Record</a>